

<br> 
<br> 
<table><tr>

<td><a href="add_student">Add Student</a> </td>
<td><a href="display_student">Display student</a> </td>
</tr>
</table>
<hr><br>


<!-- 
Placeholder to display requested component html 
where the components has to display--router dir from router pkg
this directive explains where router displays the view
 --> 


<router-outlet>
</router-outlet> 
   

<!--
 
<app-pipes> 
</app-pipes>
-->                    
 

<!--
<appBkcolor>
</appBkcolor>
-->
<!-- cus Dir  
<p>Hello</p>
<p appBkcolor>Custom directive</p>
-->
<!--cus pipe-->
<!--
{{piex}}
-->
<!--
{{"This is my Custom pipe"|strmod:true:"."}}
-->
